---
// Component: Logo
// Props can be defined here
const { data } = Astro.props;
---

<div class="a-logo">
  <h1>Logo Component</h1>
  <!-- Boilerplate for Logo -->
  { data && <pre>{JSON.stringify(data, null, 2)}</pre> }
</div>
