---
// Component: List
// Props can be defined here
const { data } = Astro.props;
---

<div class="a-list">
  <h1>List Component</h1>
  <!-- Boilerplate for List -->
  { data && <pre>{JSON.stringify(data, null, 2)}</pre> }
</div>
