---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero/Hero.astro";
import TextReveal from "../components/molecules/TextReveal/TextReveal.astro";
import CharacterCarousel from "../components/organisms/CharacterCarousel/CharacterCarousel.astro";
import AudioDemos from "../components/organisms/AudioDemos/AudioDemos.astro";
import AudioGallery from "../components/organisms/AudioGallery/AudioGallery.astro";
import SoyLeyla from "../components/organisms/SoyLeyla/SoyLeyla.astro";
import BrandCloud from "../components/organisms/BrandCloud/BrandCloud.astro";
import Direction from "../components/organisms/Direction/Direction.astro";
import Testimonials from "../components/organisms/Testimonials/Testimonials.astro";
import UltimasHistorias from "../components/organisms/UltimasHistorias/UltimasHistorias.astro";
import Comercial from "../components/organisms/Comercial/Comercial.astro";
---

<Layout>
  <div class="u-dark-theme">
    <Hero />
    <TextReveal />
    <CharacterCarousel />
    <SoyLeyla />
    <BrandCloud />
    <AudioGallery />
    <Direction />
    <Comercial />
    <Testimonials />
    <UltimasHistorias />
  </div>
</Layout>




